html{
    min-height: 100%;
}
.centerText{
    font-size:35px;
    color: white;
    white-space:normal;
    font-family: Arial;
    margin:20px;
}
.outerDiv{
    width:100%;
}
.upperDiv{
    
    width: 100%;
    background-image: url(../img/bgImage.jpg);
    position: relative;
    top: 0px;
    left: 0px;
}
.navBar{
    padding: 5px;
    border-bottom: 1px solid white;
    width: 93%;
    margin: 10px;
}


.centerDiv{
    width: 50%;
    
    position: relative;
    top: 25%;
    margin: 0 auto;
    text-align: center;
    padding: 5% 0px;
}

.navList li{
    list-style-type: none;
    display:inline;
    padding:5%;
    position:relative;
    font-size: 13px;
    left:5%;
}

.navDiv{
    padding:10px 0px;
    
}
ol li:hover{
  cursor: pointer;
}
.navDisplay{
    display:inline;
    color:white;
    font-family: Arial;
    margin: 1%;
}
.bottomText{
    color:white;
    font-family: calibri;
}
.subList{
    position: absolute;
    display: none;
    top:80%;
    left:35%;
    padding:1px;
}

.subList li{
    display:block;
}
.lang:hover .subList{
    display: block;
}
.buttonStyle{
    background-color:firebrick;
    font-size:13px;
    color:white;
    font-family: calibri;
    padding:5px;
    margin:10px;
    border:none;
    width:150px;
    cursor: pointer;
}
.footerDiv{
    width: 100%;
    position:relative;
    background-color: white;
}
table{
    border:0px;
    padding:30px;
    font-size:13px;
    font-family: calibri;
    text-align: center;    
}
table tr th{
    font-size:16px;
    padding:20px;
}
table tr td{
    padding:0 40px;
    word-break:break-all;
}